[submodule "Middleware/FreeRTOS/FreeRTOS-Plus-TCP"]
	path = Middleware/FreeRTOS/FreeRTOS-Plus-TCP
	url = https://github.com/FreeRTOS/FreeRTOS-Plus-TCP.git
[submodule "Middleware/FreeRTOS/coreJSON"]
	path = Middleware/FreeRTOS/coreJSON
	url = https://github.com/FreeRTOS/coreJSON.git
[submodule "Middleware/FreeRTOS/coreHTTP"]
	path = Middleware/FreeRTOS/coreHTTP
	url = https://github.com/FreeRTOS/coreHTTP.git
[submodule "Middleware/FreeRTOS/coreMQTT"]
	path = Middleware/FreeRTOS/coreMQTT
	url = https://github.com/FreeRTOS/coreMQTT.git
[submodule "Middleware/FreeRTOS/corePKCS11"]
	path = Middleware/FreeRTOS/corePKCS11
	url = https://github.com/FreeRTOS/corePKCS11.git
[submodule "Middleware/FreeRTOS/coreSNTP"]
	path = Middleware/FreeRTOS/coreSNTP
	url = https://github.com/FreeRTOS/coreSNTP.git
